<div class="container checkout-container my-5">
    <div class="row ">
        <div class="col-md-6 offset-md-1 checkout-left-container mr-4">
            <div class="card-content-container container-fluid">
                <label class="step-number"> 1 </label>
                <label>Phone Number Verification</label>
                <div class="number-content-container">
                    <div class="text-muted">
                        we need your mobile number so that we can update your order
                    </div>
                    <div class="my-3" style="font-style: italic;">
                        Enter 4 digit number sent to your mobile #90642648488
                    </div>
                    <div>
                        <input type="text" class="form-control" />
                        <input type="text" class="form-control" />
                        <input type="text" class="form-control" />
                        <input type="text" class="form-control" />
                        <button class="btn btn-success"> Next </button>
                    </div>
                    <div class="text-muted my-2">(Resend code in after 7 sec)</div>
                </div>
            </div>
            <div class="card-content-container container-fluid mt-3">
                <label class="step-number"> 2 </label>
                <label>Delivery Address</label>
                <div class="address-container">
                    <div class="form-group">
                        <label> Area / Locality</label>
                        <div class="row no-gutters">
                            <div class="col-md-9 mr-3">
                                <input type="text" class="form-control" style="max-height: 50px; height: 36px;border-radius: 0px;" />
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-primary"> Detect</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label> Name </label>
                        <input class="form-control" />
                    </div>
                    <div class="form-group">
                        <label> Flat </label>
                        <input class="form-control" />
                    </div>
                    <div class="form-group">
                        <label> Block </label>
                        <input class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="radio" checked name="address-type"> <label class="mr-3"> Home </label>
                        <input type="radio" name="address-type"> <label class="mr-3"> Work </label>
                        <input type="radio" name="address-type"> <label class="mr-3"> Others </label>
                    </div>
                </div>
            </div>
            <div class="card-content-container container-fluid mt-3">
                <label class="step-number"> 3 </label>
                <label>Delivery Date & Time </label>
                <div class="address-container">
                    <div class="form-group my-0">
                        <div class="text-mute">
                            -- Items will be delivered on Wednesday.
                        </div>
                        <div class="text-mute">
                            -- Items will be delivered on Sunday.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 0ffset-md-1 checkout-right-container">
                <div class="container cart-container">
                        
                        <div class="d-flex justify-content-center flex-wrap ">
                            <table class="table table-stripped">
                                <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th>Qty</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of cartItems; let i = index;">
                                        <td><img src="{{item.itemImg}}" width="24" height="24"/></td>
                                        <td>2</td>
                                        <td>{{item.price}}</td>
                                    </tr>
                                    <tr>
                                        <td colSpan="5">
                                            <div>
                                                Sub Total: 300
                                            </div>
                                            <div>
                                                Delivery Charges: 100
                                            </div>
                                            <div>
                                                Total: 400
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                      
                    </div>

        </div>
    </div>
</div>