.gantt-chart-container{
    table{
        th{
            text-align: center;
        }

        .table-data-row{
            border-bottom: 1px solid #cccccc;
        }

        .month-row, .week-row{
            height: 45px;
        }
        .day-row th{
            height: 68px;

        }
        .month-row, .week-row, .day-row, .table-data-row{

            th, td{
                border-right: 1px solid #cccccc;
                :last-child{
                    border-right: 0px;
                }
            }
                border-left: 1px solid #cccccc !important;
        }
    }


    .month-container {
        position: relative;
        span:first-child{
            position: absolute;
            left: 14px;
            top: 18px;
            cursor: pointer;
        }
        .pruthvi-firm-forward{
            position: absolute;
            right: 14px;
            top: 18px;
            cursor: pointer;
        }
    }
}