<div class="container-main tile-container">
    <div class="card">
        <div class="card-body">
            <div class="container-main item-image">
                <img src="{{item.itemImg}}" />
            </div>
            <div class="container-main text-left">
                <div class="card-title"> {{item.title}}</div>
                <footer class=" qty-container">
                     1/2 KG
                </footer>
                <div class="card-text">Rs {{item.price}}/-</div>

                <div class="card-subtitle">
                    <br/>
                    <footer class="blockquote-footer qty-container">Standard Delivery: Tomorrow Evening</footer>
                    <div class="qty-container"> Quantity</div>
                    <pruthvi-firm-select [items]="[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" selectedItem="1"></pruthvi-firm-select>
                </div>
                <div class="container-main my-5">
                    <button class="pruthvi-firm-add-to-cart btn btn-outline-primary float-right"> Add To Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>