.tile-container{
    margin-right: 1rem;
    margin-bottom: 2rem;
    .card{
        box-shadow: 0 0 0 0 rgba(0,0,0,.2), 0 2px 10px 0 rgba(0,0,0,.19);
        text-align: center;
        min-width: 600px;
        height: 200px;;

        .card-body{
            display: flex;
        }
        .item-image{
            border-bottom: 1px solid #eee;
            margin-bottom: 1rem;
            padding-bottom: 1rem;
            display: inline-block;
        }


        .item-info{
            display: inline-block;
        }

        .card-title{
            font-size: 1rem;
        }


        .qty-container{
            margin-bottom: 0.25rem;
        }
    }
    
}