
    
                
            

    <!-- <div class="card">
        <div class="card-body">
            <div class="container-main item-image">
                <img src="{{item.itemImg}}" />
            </div>
            <div class="container-main text-left item-info pl-5">
                <div class="card-title"> {{item.title}}</div>
                <footer class=" qty-container">
                     1/2 KG
                </footer>
                <div class="card-text">Rs {{item.price}}/-</div>
                <br/>
                <div class="card-subtitle">
                    <div class="qty-container"> Quantity</div>
                    <div>{{2}}</div>
                </div>
            </div>
        </div>
    </div> -->