<div class="container-main">
    <ul class="menu-container">
        <li> <a [routerLink]="['/main/dashboard']" [routerLinkActive]="['active']"> Dashboard</a></li>
        <li> <a [routerLink]="['/main/reports']" [routerLinkActive]="['active']"> Reports</a></li>
        <!-- <li> <a [routerLink]="['/main/rice']" [routerLinkActive]="['active']"> Rice</a></li>
        <li> <a [routerLink]="['/main/millets']" [routerLinkActive]="['active']"> Millets</a></li>
        <li> <a [routerLink]="['/main/pulses']" [routerLinkActive]="['active']"> Pulses</a></li>
        <li> <a [routerLink]="['/main/cart']" [routerLinkActive]="['active']"> Cart</a></li> -->

    </ul>
</div>