$pruthvi-firm-nav-bar-height: 48px;
$pruthvi-firm-nab-bar-bg: rgb(247, 247, 247);
$pruthvi-firm-app-padding: 1.5rem;
$pruthvi-firm-table-header-padding: 1rem;
$pruthvi-firm-table-body-padding: 1rem;
$pruthvi-firm-table-header-default-bg: #357dba;
$pruthvi-firm-table-header-bg: #035da9;
$pruthvi-firm-default-border-color: #dcdcdc;
$pruthvi-firm-footer-height: $pruthvi-firm-nav-bar-height;
$pruthvi-firm-footer-bg: #ffffff;
$pruthvi-firm-sidebar-bg: #ffffff;
$pruthvi-firm-sidebar-color: #333;
$pruthvi-firm-white-color: #ffffff;
