@import "../icons/.fontawesome.icons";
@import 'variables';
@import "~bootstrap/scss/bootstrap.scss";
@import "~@ng-select/ng-select/themes/default.theme.css";

body {
  font-size: 14px;
  word-break: break-word;
  font-weight: 400;
  background: #ffffff;
  color: #29363f;
  overflow-x: hidden !important;
  font-family: 'Open Sans', sans-serif !important;
}

a{
  color: #29363f;
}


// ::-webkit-scrollbar {
//   width: 6px;
// }
// ::-webkit-scrollbar-track {
//   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
// }
// ::-webkit-scrollbar-thumb {
//   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
// }

/******************* Main App Container Styles Start *******************/
.navbar {
  // height: $pruthvi-firm-nav-bar-height;
  height: 88px;
  padding: 0.5rem $pruthvi-firm-app-padding;
  // color: $pruthvi-firm-white-color !important;
  background: $pruthvi-firm-nab-bar-bg;
}

#main-app-container {
  .form-control {
    font-size: 14px !important;
    font-weight: 400 !important;
  }

  #main-app-body-container {
    height: calc(100vh - 48px - 48px);
    width: 100%;
    padding: 1rem;
  }
}

.navigation-bar {
  background: #000000;
  min-height: 40px;
  max-height: 82px;
  color: #ffffff;
  align-items: center;
}

.checkbox-container-fluid,
.main-container {
  height: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $pruthvi-firm-footer-height;
  line-height: 60px;
  background-color: $pruthvi-firm-footer-bg;
}

/******************* Main App Container Styles End *******************/

/******************* Table Styles Start *******************/
// table {
//   margin-bottom: 2rem !important;

//   thead {
//     color: #000000;
//     max-height: 56px;
//     height: 56px;
//     tr {
//       th {
//         padding: 0px 8px !important;
//         text-transform: capitalize;
//         font-size: 13px;
//         font-weight: 400;
//         cursor: pointer;
//         height: 56px;
//       }

//       th:first-child {
//         padding-left: 20px !important;
//       }

//       th:last-child {
//         border-right: none !important;
//       }

//       .pruthvi-firm-sort {
//         padding: 0.25rem;
//       }

//       th.sortable {
//         .pruthvi-firm-sort{
//           cursor: pointer;
//         }
//       }
//     }
//   }

//   tbody {
//     background-color: transparent !important;
//   }

//   tbody tr {
//     max-height: 56px;
//     height: 56px;

//     td {
//       height: 56px;
//       padding: 16px 8px !important;
//       font-size: .75rem;
//       text-transform: capitalize;
//       font-weight: 400;
//       color: #757575;
//     }

//     td:first-child {
//       padding-left: 20px !important;
//     }
//   }
// }


.nav-icons{
  .popover-arrow, .arrow, .bs-popover-bottom .arrow{
      left: 88% !important;
      transform: translateX(-80%) !important;
  }
  .bs-popover-bottom{
    left: -30px !important;
    min-width: 175px;
    
    }

    .popover-body{
      padding: 0px !important; 
  }
}


.projects-modal{
    width: 650px;
    max-width: 650px;
    button{
      min-width: 110px;
    }

    .projects-list-container{
      max-height: 370px;
      height: 370px;
      overflow-y: auto;
      label:first-child{
        cursor:  pointer !important;
      }

      .checkbox-container:last-child{
        border: none;
      }
    }

    .search-container{
      .checkbox-container{
        border: none !important;
        cursor: pointer !important;
      }
      input[type='search']{
        border: none;
        border-bottom: 1px solid #ece;
        position: relative;
        bottom: 10px;
        :focus, :visited{
          box-shadow: none;
        }
      }
      input[type='search']:focus{
        box-shadow: none !important;
      }
    }

    .modal-footer{
      .checkbox-container{
        margin: 0;
    border: none;
    padding-bottom: 0;
    margin-top: 6px;
      }
    }
    
}


/* The container */
.checkbox-container {
  cursor: pointer;
  display: block;
  position: relative;
  padding-left: 35px;
  // margin-bottom: 12px;
  padding-bottom: 4px;
  border-bottom: 1px solid #cccccc;
  cursor: pointer;
  font-size: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  label:first-child{
    margin-bottom: 0 !important;
    position: relative;
    bottom: 0px;
    text-transform: capitalize;
    font-size: 1rem;
  }
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: transparent;
    border: 1.5px solid #eee;
    border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}