<div class="container-fluid">
    <div class="d-flex justify-content-between">

        <div class="card col-md-4 px-0 mr-2">
            <div class="card-header">
                <div class="card-title">
                    Mixed Rice
                </div>
            </div>
            <div class="card-body">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/2014_uncooked_Thai_glutinous_rice.jpg/200px-2014_uncooked_Thai_glutinous_rice.jpg" />
                    </div>
                    <div class="col-md-6">
                        <div class="card-subtitle">
                            <div> Quantity</div>
                            <pruthvi-firm-select [items]="[25, 50, 75, 100]" selectedItem="25"></pruthvi-firm-select>
                        </div>
                        <div class="row no-gutters">
                            <button class="btn btn-success"> Add To Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-4 px-0 mr-2">
            <div class="card-header">
                <div class="card-title">
                    Mixed Rice
                </div>
            </div>
            <div class="card-body">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/2014_uncooked_Thai_glutinous_rice.jpg/200px-2014_uncooked_Thai_glutinous_rice.jpg" />
                    </div>
                    <div class="col-md-6">
                        <div class="card-subtitle">
                            <div> Quantity</div>
                            <pruthvi-firm-select [items]="[25, 50, 75, 100]" selectedItem="25"></pruthvi-firm-select>
                        </div>
                        <div class="row no-gutters">
                            <button class="btn btn-success"> Add To Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-4 px-0">
            <div class="card-header">
                <div class="card-title">
                    Mixed Rice
                </div>
            </div>
            <div class="card-body">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/2014_uncooked_Thai_glutinous_rice.jpg/200px-2014_uncooked_Thai_glutinous_rice.jpg" />
                    </div>
                    <div class="col-md-6">
                        <div class="card-subtitle">
                            <div> Quantity</div>
                            <pruthvi-firm-select [items]="[25, 50, 75, 100]" selectedItem="25"></pruthvi-firm-select>
                        </div>
                        <div class="row no-gutters">
                            <button class="btn btn-success"> Add To Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>