<nav class="navbar navbar-expand-lg  d-flex justify-content-between">
    <div>
        <a class="navbar-brand" href="#">
            <img src="https://www.bigbasket.com/static/v2172/custPage/build/content/img/bb_logo.png" height="30px"/>
        </a>
    </div>
    <div style="text-transform: capitalize;">
        Welcome To Pruthvi
    </div>
    <div class="nav-icons">
        
            <span class="pruthvi-firm-add-to-cart"></span>
            <span class="badge badge-light">9</span>
        
    </div>
</nav>