<nav class="navbar navbar-expand-lg  d-flex justify-content-between">
    <div>
        <a class="navbar-brand" href="#">
            <img src="https://media.licdn.com/dms/image/C510BAQFeaIOozgSJDA/company-logo_200_200/0?e=2159024400&v=beta&t=hRXiOk8Knl8nuNPQH3NTl4v8yQkE9tJ8iuTeKTe1hQU" height="86px" width="140px"/>
        </a>
    </div>
    <div style="text-transform: capitalize;">
        Welcome To DuPont
    </div>
    <div>
        <img src="https://media.licdn.com/dms/image/C4E0BAQGRSbacCienww/company-logo_200_200/0?e=2159024400&v=beta&t=jM5NhRQ-0JdnCen0J55S4AkSnwMnisYI2Ygy-Kn4FhQ" height="86px" width="140px"/>
    </div>
    <!-- <div class="nav-icons">
        
        <a href="#/main/cart">
            Logout
        </a>
        
    </div> -->
</nav>